<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Crear comentario</h3>
    </div>
    <div class="panel-body">
      <%= render 'form', comentarioservicio: @comentarioservicio %>
    </div>
  </div>
  <%= link_to 'Volver', servicio_url(:id => @servicio), :class => 'btn btn-default' %>
</div>

