<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Editar comentario</h3>
    </div>
    <div class="panel-body">
      <%= render 'form', comentariocarrete: @comentariocarrete %>
    </div>
  </div>
  <%= link_to 'Ver comentario', @comentariocarrete, :class => 'btn btn-default' %>
  <%= link_to 'Volver', comentariocarretes_path, :class => 'btn btn-default' %>
</div>
