<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Creando carrete</h3>
    </div>
    <div class="panel-body">
      <%= render 'form', carrete: @carrete %>
    </div>
  </div>
</div>
